<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <h1 class="display-3">Page Not Found</h1>
    <p class="lead">We couldn't find this page. Are you sure the URL is correct? Try again or click below to go to the homepage.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
  </div>
</div>

<%- include('partials/footer') %>
